# Itération 3 --> PANDAS

https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html
https://stackoverflow.com/questions/tagged/pandas
https://pandas.pydata.org/pandas-docs/stable/user_guide/cookbook.html#cookbook

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('datatree.csv')
#elts which can be specified within pd.read.csv()
#columns= names of column if needed to be added
#type(df["ANNEEDEPLANTATION"]) --> works to know type of column
idxs=df.index
idxs
#index= "row names" as index for each row

RangeIndex(start=0, stop=31814, step=1)

In [3]:
# To know columns of your DF
# -->df.columns

In [4]:
#Create a subpart of df (dico form).
d_dic = {'1st_c_names':[df["NOM"]],'2nd_col_names':[df["GENRE_BOTA"]],
         '3rd_col_names':[df["ESPECE"]],'4th_col_names':[df["ANNEEDEPLANTATION"]]}

In [5]:
#Read the first 2lignes of csv file (0 being columns'names)
df[0:2]

,ELEM_POINT_ID,CODE,NOM,GENRE,GENRE_DESC,CATEGORIE,CATEGORIE_DESC,SOUS_CATEGORIE,SOUS_CATEGORIE_DESC,CODE_PARENT,...,COURRIER,IDENTIFIANTPLU,TYPEIMPLANTATIONPLU,INTITULEPROTECTIONPLU,ANNEEABATTAGE,ESSOUCHEMENT,DIAMETREARBRE,CAUSEABATTAGE,COLLECTIVITE,GeoJSON
0,31906,ESP32632,ESP32632,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP995,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ville de Grenoble,"{""type"":""Point"",""coordinates"":[5.7407272631197..."
1,31905,ESP32631,ESP32631,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP995,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ville de Grenoble,"{""type"":""Point"",""coordinates"":[5.7407481744995..."

In [6]:
#Extract information about year of plantation for all rows
#Stock into list
df_aplant=list(df["ANNEEDEPLANTATION"])
type(df_aplant)

list

In [7]:
#To extract part of df in df
dfloc=df.loc[0:,"GENRE":"ANNEEDEPLANTATION"]
type(dfloc)

pandas.core.frame.DataFrame

In [8]:
#Print 50 first and 50 last lignes of previously described list
df_plant_fifty=df_aplant[:50]+df_aplant[-50:]
len(df_plant_fifty)

100

In [9]:
# To know time of excecution of one cell (sinon %time)
# %%timeit
#Nb of trees with missing date of plantation
Nb_empty_aplant=df["ANNEEDEPLANTATION"].isnull().sum()
Nb_empty_aplant

1392

In [10]:
#Extract all rows
#Stock into list
s=pd.Series([df])
s[0:32]
#df_list=df.ANNEEDEPLANTATION.tolist()
df_list=df.values.tolist()
len(df_list)
type(df_list)

list

In [11]:
dflist=list(df.loc["GENRE":"ANNEEDEPLANTATION"])
type(dflist)
dflist
len(dflist)

32

In [46]:
#Count of trees in dataset (nb rows minus row for column's titles)
nbtrees=len(df[1:])
nbtrees

31813

In [43]:
#Count of trees in dataset with condition (value=0 or not--> boolean)
df["ANNEEDEPLANTATION"].isnull().value_counts()

False    30422
True      1392
Name: ANNEEDEPLANTATION, dtype: int64

In [63]:
#Count of trees in dataset with condition --> planted trees since 1986
#df["ANNEEDEPLANTATION"].value_counts(df["ANNEEDEPLANTATION"]>1980)
#Warning=doesnot take into account values with ''
len(df[df["ANNEEDEPLANTATION"]<=1986])
#len(df)

16057

In [50]:
#Mean of planted trees by year 
#type(df["ANNEEDEPLANTATION"])--> series
#allmeans=df.mean() mais calcul très lourd
#to know but of no use here--> ap_mean=df["ANNEEDEPLANTATION"].mean()
year_max=df["ANNEEDEPLANTATION"].max()
year_min=df["ANNEEDEPLANTATION"].min()

nbtree_byyear=nbtrees/(year_max-year_min)
nbtree_byyear

467.8382352941176

In [108]:
#Functionalize info about mayors
#datamayor=[["ML","MARTIN Léon", range(1949,1959)],["CA","CARIGNON Alain",range(1959,1965)],
#         ["MA","MICHALLON Albert",range(1965,1983)],["DH","DUBEDOUT Hubert",range(1983,1995)],
#         ["DM","DESTOT Michel",range(1995,2014)],["PE","PIOLLE Eric",range(2014,2020)]]

#datamayor
#Doesnot work since dimension for range are not equal
dfmayor = pd.DataFrame({"MARTIN Léon": range(1949,1959),
                        "CARIGNON Alain":range(1959,1965),
                        "MICHALLON Albert":range(1965,1983),
                        "DUBEDOUT Hubert":range(1983,1995),
                        "DESTOT Michel":range(1995,2014),
                        "PIOLLE Eric":range(2014,2020)})
                        
dfmayor


#df = pd.DataFrame({ 'A' : range(1, N + 1 ,1),
#    'B' : np.random.randint(k, k + 100 , size=N),
#    'C' : np.random.choice(np.array(alphabet, dtype="|S1"), N) })
#dfmayor=pd.DataFrame({'Mayor':["MARTIN Léon","MICHALLON Albert","DUBEDOUT Hubert",
#                      "CARIGNON Alain","DESTOT Michel","PIOLLE Eric"],
#                     'Start':[1949,1959,1965,1983,1995,2014],
#                     'End':[1959,1965,1983,1995,2014,2020]})

#dfmayor = pd.read_csv('mayor.csv')

ValueError: arrays must all be same length

In [102]:
dfmayor_bis=pd.DataFrame({'key':["ML","MA","DH","CA","DM","PE"],'Mayor':["MARTIN Léon","MICHALLON Albert","DUBEDOUT Hubert",
                      "CARIGNON Alain","DESTOT Michel","PIOLLE Eric"]})
dfmayordates=pd.DataFrame({'key':["ML","MA","DH","CA","DM","PE"],'Mandate':[range(1949,1959),range(1959,1965),
                                range(1965,1983),range(1983,1995),
                                range(1995,2014),range(2014,2020)]})

dfmayor_bis



#dfmayordates

#Mayor who has ordered to plant the highest nb of tree



#df['key']=df["ANNEEDEPLANTATION"]
#dfmayor['key']=dfmayor["Mandate"]
merge=dfmayor.append(dfmayor_bis)
merge
#trees_by_mayor

/home/campus-4/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

                                              Mandat             Mayor key
0  (1949, 1950, 1951, 1952, 1953, 1954, 1955, 195...       MARTIN Léon  ML
1               (1959, 1960, 1961, 1962, 1963, 1964)    CARIGNON Alain  CA
2  (1965, 1966, 1967, 1968, 1969, 1970, 1971, 197...  MICHALLON Albert  MA
3  (1983, 1984, 1985, 1986, 1987, 1988, 1989, 199...   DUBEDOUT Hubert  DH
4  (1995, 1996, 1997, 1998, 1999, 2000, 2001, 200...     DESTOT Michel  DM
5               (2014, 2015, 2016, 2017, 2018, 2019)       PIOLLE Eric  PE
0                                                NaN       MARTIN Léon  ML
1                                                NaN  MICHALLON Albert  MA
2                                                NaN   DUBEDOUT Hubert  DH
3                                                NaN    CARIGNON Alain  CA
4                                                NaN     DESTOT Michel  DM
5                                                NaN       PIOLLE Eric  PE

In [ ]:
#Histogram of planted trees by year